/*======color=======*/
$cl_container_bg: #f2f2f2;
$cl_container_border: #cccccc;
$cl_header: #1b303f;

$cl_white: #ffffff;
$cl_text_blue : #119ed9;
$cl_disabled: #999999;

$cl_input_text: #a3b9cb;
$cl_bg: #3e4952;
$cl_icon: #A3B9CB;
$cl_panel: #1b303f;
$cl_green: #dc9d07;
$cl_table_2: #324f64;
