<div class="tql-dialog modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <form #certificateEditForm="ngForm" name="certificate-edit-form" class="certificate-edit tql-form">
      <div class="modal-header">
        <span class="modal-title">{{title}}</span>
        <button type="button" class="close" (click)="close()" ><i class="far fa-times"></i></button>
      </div>
      <div class="modal-body">
        <div class="col-6 tql-form-group float-left no-padding-left required">
          <label for="certificateName" class="col-form-label no-horizon-padding">Certificate name</label>
          <input type="text" class="form-control" required
                  name="certificateName" id="certificate-edit-name" placeholder="Certificate Name"
                  [(ngModel)]="name" #certificateName="ngModel">
        </div>
        <div class="col-6 tql-form-group float-left no-padding-right">
          <label class="col-12 col-form-label no-horizon-padding">&nbsp;</label>
          <button class="tql-button tql-button-blue shadow-sm" (click)="onSave(true)">Create</button>
        </div>
        <div class="col-12 tql-form-group float-left no-padding-right">
          OR
        </div>
        <div class="col-6 tql-form-group float-left no-padding-left required">
          <label for="certificateDownloadLink" class="col-form-label no-horizon-padding">Certificate download link</label>
          <input type="text" class="form-control" required
                  name="certificateDownloadLink" id="certificate-download-link" placeholder="Certificate Download Link"
                  [(ngModel)]="downloadLink" #certificateDownloadLink="ngModel">
        </div>
        <div class="col-6 tql-form-group float-left no-padding-right">
            <label class="col-12 col-form-label no-horizon-padding">&nbsp;</label>
          <button class="tql-button tql-button-blue shadow-sm" (click)="onSave(false)">Upload</button>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </form>
  </div>
</div>
