<div class="tql-header">
  <div class="d-flex flex-row">
    <div class="logo">
      <img src="assets/images/global_logo.png"/>
    </div>
    <div class="header__site-name">Management Dashboard</div>
    <div class="mr-auto align-self-center">
      <app-breadcrumb></app-breadcrumb>
    </div>
    <div class="align-self-center">  
      <ul class="list-unstyled list-inline tql-navbar">
        <li>
          <app-user-management></app-user-management>
        </li>
      </ul>
    </div>
  </div>
</div>
