.navigation {
    display: flex;
    flex-direction: column;
    justify-items: center;
    
    ul {
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        &.active > a {
            color: rgba(255, 255, 255, 1);
            font-weight: bold;
        }
    }

    a {
        display: block;
        height: 100%;
        padding: 0 15px;
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5);
        font-size: 80%;
        font-weight: normal;

        &:hover {
            color: rgba(255, 255, 255, 1);
            font-weight: bold;
        }
    }
}

.navigation_menu {
    &.active {
        .navigation_sub-menu {
            display: block;
        }
    }

    a {
        line-height: 30px;
    }
}

.navigation_sub-menu {
    display: none;
    margin: 0 0 0 10px;
    a {
        line-height: 25px;
    }
}