<div class="tql-side-bar ">
  <div class="d-flex flex-column flex-column">
    <ul class="list-unstyled mb-auto">
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['devices']">
          <div class="icon"><i class="fas fa-tablet-rugged"></i></div>
          <span>Devices</span>
        </a>
      </li>
      <!-- <li [routerLinkActive]="['active']">
        <a [routerLink]="['edges']">
          <div class="icon"><i class="far fa-map-marked-alt"></i></div>
          <span>Edges</span>
        </a>
      </li> -->
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['applications']">
          <div class="icon"><i class="far fa-window"></i></div>
          <span>Applications</span>
        </a>
      </li>
      <!-- <li [routerLinkActive]="['active']">
        <a [routerLink]="['datas']">
          <div class="icon"><i class="fal fa-database"></i></div>
          <span>Data</span>
        </a>
      </li> -->
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['certificates']">
          <div class="icon"><i class="far fa-file-certificate"></i></div>
          <span>Certificates</span>
        </a>
      </li>
      <!-- <li [routerLinkActive]="['active']">
        <a [routerLink]="['queries']">
          <div class="icon"><i class="far fa-code"></i></div>
          <span>Queries</span>
        </a>
      </li> -->
    </ul>
  </div>
</div>
