<section class="device-detail-security">
  <h3 class="device-detail-security__header">Security</h3>
  <div class="device-detail-security__action-wrapper clearfix">
    <form #certificateEditForm="ngForm" name="certificate-create-form" class="device-detail-security__certificate-form"
          *ngIf="!attachedCertificate">
      <div class="tql-form-group device-detail-security__certificate-name float-left required">
        <select name="certificateEditName" [(ngModel)]="certificateId" ngModel 
                class="form-control device-detail-security__certificate-name-input" required>
          <option value="" selected>Select a certificate</option>
          <option *ngFor="let certificate of certificates" [ngValue]="certificate.DeviceCertificate.certId">
            {{certificate.DeviceCertificate.commonName}}
          </option>
        </select>
      </div>
      <div class="form-group device-detail-security__certificate-button float-left">
        <button class="tql-button tql-button-blue shadow-sm"
                [disabled]="certificateEditForm.form.invalid || certificateEditForm.form.pristine"
                (click)="attachCertificateToDevice()">Attach certificate</button>
      </div>
    </form>
  </div>
  <div class="device-detail-security__certi-wrapper" id="device-detail-security-certi-wrapper-id">
    <div class="card-deck" *ngIf="attachedCertificate">
      <div class="col-3 card">
        <div class="card-header">
          <div class="card-action">
            <div ngbDropdown class="d-inline-block">
              <div class="ngbDropdown__item-action-button" id="dropdownBasic1" ngbDropdownToggle>...</div>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <span class="ngbDropdown__item-action ngbDropdown__item-action--unattach dropdown-item" 
                      (click)="unattachCertificate()">Unattach</span>
              </div>
            </div>
          </div>
          <div class="card-name">{{attachedCertificate.DeviceCertificate.commonName}}</div>
        </div>
        <div class="card-body" [routerLink]="['/certificate', attachedCertificate.DeviceCertificate.certId]">
          <ul class="card-ul">
            <li>Cretificate Id: {{attachedCertificate.DeviceCertificate.certId}}</li>
            <li><a href="{{downloadLinkPrefix}}{{attachedCertificate.DeviceCertificate.zipFileURL}}" download>Download certificate zip file</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
