<div class="tql-dialog modal-dialog modal-lg modal-dialog-centered">
  <div class="modal-content">
    <form #attachEditForm="ngForm" name="attach-edit-form" class="tql-form">
      <div class="modal-header">
        <span class="modal-title">{{title}}</span>
      </div>
      <div class="modal-body col-12 m-0">
        <div class="row">
          <div class="col-6">
            <div class="d-flex justify-content-between align-items-center">
              <div class="form-group col-7 px-0">
                <label for="rule-list">Rules</label>
                <ng-select [items]="rules" name="rule-list" required
                  bindLabel="Rule.RuleName" bindValue="Rule.RuleId"
                  [(ngModel)]="selectedRuleId">
                </ng-select>
              </div>
              <div class="form-group button-group col-5 pr-0">
                <label class="d-block">&nbsp;</label>
                <button class="tql-button tql-button-red shadow-sm" (click)="onAttach()"
                  [disabled]="attachEditForm.form.invalid">
                  Attach
                </button>
              </div>
            </div>
          </div>
          <div class="col-6 border-left">
            <table class="tql-table">
              <tr *ngFor="let rule of dataModal.selectedRules" class="align-items-center col-12 py-2">
                <td>
                  <i class="far fa-trash px-2 cursor-pointer" (click)="onRemoveRule(rule.RuleId)" title="Deattach rule"></i>
                  {{rule.RuleName}}
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="tql-button tql-button-blue" (click)="close()">Done</button>
      </div>
    </form>
  </div>
</div>
